*

!.github/
!assets/
!.editorconfig
!.gitattributes
!.gitignore
!.justfile
!.python-version
!.pre-commit-config.yaml
!README.md

!.vscode/
!.vscode/**/

!.cursor/
!.cursor/**/
!assets/**/
!shared/
!src/
!src/**/
!assets/
!shared/**/
!scripts/
!scripts/**/

!*.json
!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.toml
!*.yml
!*.yaml
!*.ini
!*.py
